<h2>Sell <%= @stock.company_name %></h2>
<p>Symbol: <%= @stock.symbol %></p>
<p>Current Price: $<%= @latest_price %></p>

<%= form_with(url: sell_stock_path(symbol: @stock.symbol, company_name: @stock.company_name), method: "post") do |form| %>
  <%= form.label :quantity, "Quantity" %>
  <%= form.number_field :quantity %>

  <%= form.submit "Sell" %>
<% end %>