<h2>Popular Stocks</h2>
<div class="grid grid-cols-5 gap-4">
  <% @stocks.each do |stock| %>
    <% price = @stock_prices[stock.symbol] %> 
    <div class="stock-item">
      <% if @stock_logos[stock.symbol].present? %>
        <%= image_tag @stock_logos[stock.symbol], class: "stock-logo", alt: "#{stock.symbol} logo" %>
      <% end %>

      <div>
        <%= link_to stock.symbol, stock_path(stock.symbol) %> - 
        <%= stock.company_name %> 
     
        <% if price %>
          ( $<%= price.latest_price %> ) 
        <% end %>

        <%= form_with(url: buy_stock_path(stock.symbol), method: :post) do %>
        
          <%= number_field_tag :quantity, 1, min: 1, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"%> 
          <%= submit_tag "Buy", class:'gray-btn' %>
        
        <% end %>

      </div>
    </div>
  <% end %>
</div>
