<h2 class="text-2xl font-bold mb-4">Top 10 Active Stocks</h2>
<div class="grid grid-cols-5 gap-4"> 
<% @stocks.each do |stock| %>
  <div class="card bg-white shadow-lg rounded-lg p-4 flex flex-col items-center justify-between">
    <%= image_tag @stock_logos[stock.symbol], alt: "#{stock.company_name} logo", class: "w-20 h-20 object-contain" %>
    <div class="text-center mt-2">
      <p class="text-lg font-semibold"><%= stock.company_name %> (<%= stock.symbol %>)</p>
      <p class="text-gray-700">Current Price: $<%= @stock_prices[stock.symbol].latest_price %></p>
    </div>
    <%= form_with url: buy_stocks_path, local: true, method: :post do |form| %>
      <%= form.hidden_field :symbol, value: stock.symbol %>
      <%= form.hidden_field :company_name, value: stock.company_name %>
      <%= form.number_field :quantity, min: 1, value: 1, class: "text-center w-20 py-1 border-2 border-blue-500 rounded" %>
      <%= form.submit "Buy", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    <% end %>
  </div>
<% end %>

</div>

<script>
function updateTotalPrice(symbol) {
    // Fetch the price using the data-price attribute
    const priceElement = document.getElementById('total-price-' + symbol);
    const price = parseFloat(priceElement.getAttribute('data-price'));
    const quantityInput = document.getElementById('quantity-' + symbol);
    const quantity = parseInt(quantityInput.value) || 0;
    const totalPrice = (price * quantity).toFixed(2);

    // Update the total price text
    priceElement.textContent = 'Total: $' + totalPrice;
}

</script>