
<h2>Users for Approval</h2>

  <% if not @pending_users.any? %>
  <p class="text-center">All users have been approved.</p>
  <% else %>
<table class="text-center m-5 text-sm text-surface">
  <thead class="border-b border-neutral-200 font-medium " >
    <tr class="text-center">
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="m-3">
    <% @pending_users.each do |user| %>
      <tr>
        <td class="whitespace-nowrap px-6 py-4"><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.email %></td>
        <%if not user.approved? %>
        <td>
        <%= button_to "Approve", approve_user_admin_user_path(user.id), class:"px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"  %>
        </td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>


<%= button_to "Back to Dashboard", admin_users_path, method: :get, class: "prim-btn-2" %>


</div>