<h2>All Transactions</h2>

<table>
  <thead>
    <tr>
      <th> User ID </th>
      <th>Transaction ID</th>
      <th>Stock Symbol</th>
      <th>Shares</th>
      <th>Action Type</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.user_id %></td>
        <td><%= transaction.id %></td>
        <td><%= transaction.company_name %></td>
        <td><%= transaction.shares %></td>
        <td><%= transaction.action_type.capitalize %></td>
        <td><%= transaction.created_at.strftime("%B %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
