<h2>Your Transactions</h2>

<table>
  <thead>
    <tr>
      <th>Transaction ID</th>
      <th>Stock Company Name</th>
      <th>Shares</th>
      <th>Action Type</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.company_name %></td>
        <td><%= transaction.shares %></td>
        <td><%= transaction.action_type.capitalize %></td>
        <td><%= transaction.created_at.strftime("%B %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
