<!DOCTYPE html>
<html>
<head>
  <title>Stock Trading App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'toast' %>
</head>

<body>
  <div class="flex">
    <% if user_logged_in? %>
      <div class="w-1/6">
        <% if current_user.admin? %>
          <%= render 'partials/adminsidebar' %>
        <% else %>
          <%= render 'partials/sidebar' %>
        <% end %>
      </div>
      <div class="w-5/6">

        <div class="mx-auto max-w-7xl px-4 sm:px-6 pb-16 pt-20 text-center">
          <div class="notice" style="display: none;"><%= notice %></div>
          <div class="alert" style="display: none;"><%= alert %></div>

             <!-- Modal -->
<div id="cash-in-modal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
    <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
        <div class="mt-3 text-center">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Cash In</h3>
            <div class="mt-2 px-7 py-3">
                <%= form_with url: update_balance_path(current_user.id), method: :post, id: "cash-in-form", local: true do |form| %>
                    <%= number_field_tag :amount, nil, id: "cash-in-amount", class: "border-gray-300 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm", placeholder: "Enter amount" %>
                    <div class="items-center px-4 py-3">
                        <%= submit_tag 'Confirm', class: "px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-300" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

          <%= yield %>
        </div>
      </div>
    <% else %>
      <div class="w-full">
        <%= render 'partials/header' %>
        <div class="mx-auto max-w-7xl px-4 sm:px-6 pb-16 pt-20 text-center">
          <div class="notice" style="display: none;"><%= notice %></div>
          <div class="alert" style="display: none;"><%= alert %></div>
          <%= yield %>
        </div>
      </div>
    <% end %>
  </div>
</body>
</html>
