<!DOCTYPE html>
<html>
  <head>
    <title>Stock Trading App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'toast' %>
  </head>

  <body>

  <%=  render 'partials/header' %>

    <div class="mx-auto max-w-7xl px-4 sm:px-6 pb-16 pt-20 text-center ">
       <% if notice %>
         <div id="toast-container">
         
            <div class="error_explanation">
               <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
              <%= notice %>
              <button class="close-btn">×</button>
            </div>
          </div>
        <% end %>

        <% if alert %>
          <div id="toast-container">
            <div class="error_explanation">
              <%= alert %>
              <button class="close-btn">×</button>
            </div>
          </div>
        <% end %>

    <%= yield %>
    </div>
  
  </body>
</html>


